spring:
    datasource:
        name: orcl
        url: jdbc:mysql://47.107.212.60:3306/zjc_log?useUnicode=true&characterEncoding=utf-8&useSSL=false&allowMultiQueries=true
        username: '{cipher}aefe813d575e22878b871050e88466209ae65998de2476f5462574f7570ccd7d'
        password: '{cipher}7fe45f04a10137349b759e32019d9c1de3385a6d1c97facbd8a36f8daaff0989188e7712ce2af025a39021c4564bd75b'
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 1 from dual
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20
mybatis:
  mapper-locations: classpath*:mapper/*.xml
